<%= link_to "New Venue", "/venues/new" %>

<%= form_tag '/venues', method: :get do %>
  <%= label_tag :capacity_threshold, "Results with capacity greater than:" %>
  <%= number_field_tag :capacity_threshold %>
  <%= submit_tag 'Go' %>
<% end %>

<% @venues.order_by_most_recent.each do |venue| %>
  <h3><%= venue.name  %></h3>
  <p>Capacity: <%= venue.capacity %></p>
  <p>Outdoor: <%= venue.outdoor  %></p>
  <p>Date added: <%= venue.date_added %></p><br>
<% end %>