<h1> <%= @venue.name %> </h1>
<h2> Capacity: <%= @venue.capacity %> </h2>
<h2> Outdoor: <%= @venue.outdoor %></h2>
<%= link_to 'Edit', venues_edit_path(@venue.id) %>
<%= link_to 'Delete Venue', venues_show_path(@venue.id), method: :delete %><br>
<%= link_to "#{@venue.name}'s Events", venue_events_path(@venue.id) %>