<%= @band.name %> <br>
<p>Booked: <%= @band.booked %></p>
<%= link_to 'Update Band', "/bands/#{@band.id}/edit" %> <br>
<%= link_to 'Remove Band', "/bands/#{@band.id}", method: :delete %> <br>
<%= link_to "#{@band.name}'s Members", "/bands/#{@band.id}/members" %>
