<%= link_to 'New Event', venue_events_new_path(@venue.id) %><br>
<%= link_to 'Sort alphabetically', venue_events_path(@venue.id, sort: :true) %>

<h1>Events for <%= @venue.name  %></h1>

<% @events.each do |event| %>
  <h3><%= link_to "#{event.name}", events_show_path(event.id) %></h3>
<% end %>

<h3>Total: <%= @venue.events.event_count %></h3>