<%= link_to 'New Event', "/venues/#{@venue.id}/events/new" %><br>
<%= link_to 'Sort alphabetically', "/venues/#{@venue.id}/events/?sort=true" %>

<h1>Events for <%= @venue.name  %></h1>

<% @events.each do |event| %>
  <h3><%= link_to "#{event.name}", "/events/#{event.id}" %></h3>
<% end %>

<h3>Total: <%= @venue.events.event_count %></h3>